<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="audit_prod" connectionString="Data Source=serverng-audit;Initial Catalog=NGAuditProd;User Id=sa;Password=centerU6452$"/>
    <add name="audit_devl" connectionString="Data Source=serverng-audit;Initial Catalog=NGAuditDevl;User Id=sa;Password=centerU6452$"/>
    <add name="prod" connectionString="Data Source=serversql-a;Initial Catalog=NGProd;User Id=it_bot;Password=m8G!tIoYE8nS#Bd"/>
    <add name="ezra" connectionString="Data Source=serversql-a;Initial Catalog=NGEzra;User Id=it_bot;Password=m8G!tIoYE8nS#Bd"/>
    <add name="devl" connectionString="Data Source=serversql03;Initial Catalog=NGDevl;User Id=sa;Password=EzraSQL1312"/>
  </connectionStrings>
  <appSettings>
    <add key="env" value="prod"/>
    <add key="update_env" value="prod"/>
    <add key="log_folder" value="c:\nextgen\PMPal"/>
    <add key="file_server" value="ezra-fs1"/>
    <add key="user_id" value="665"/>
  </appSettings>
</configuration>