<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="audit_prod" connectionString="Data Source=***-audit;Initial Catalog=NGAuditProd;User Id=sa;Password=***"/>
    <add name="audit_devl" connectionString="Data Source=***-audit;Initial Catalog=NGAuditDevl;User Id=sa;Password=***"/>
    <add name="prod" connectionString="Data Source=***-a;Initial Catalog=NGProd;User Id=it_bot;Password=***"/>
    <add name="ezra" connectionString="Data Source=***-a;Initial Catalog=NGEzra;User Id=it_bot;Password=***"/>
    <add name="devl" connectionString="Data Source=***;Initial Catalog=NGDevl;User Id=sa;Password=***"/>
  </connectionStrings>
  <appSettings>
    <add key="env" value="prod"/>
    <add key="update_env" value="prod"/>
    <add key="log_folder" value="c:\nextgen\PMPal"/>
    <add key="file_server" value="***"/>
    <add key="user_id" value="***"/>
  </appSettings>
</configuration>
